@import url('https://fonts.googleapis.com/css?family=Poppins');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Poppins', sans-serif; 
}
.parallax {
    --ship-width: 65px;
    --color-primary: #32ceff;
    display: flex;
    position: fixed;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    background: url('assets/bg.jpg');
    background-position: 0px;
    background-size: cover;
    transition: 650s linear;
}
.planet {
    position: absolute;
    animation-name: movePlanet;
    animation-timing-function: linear;
    right: -300px;
}
.bullet {
    width: 25px;
    position: absolute;
    top: -50px;
    z-index: 5;
    left: -20px;
    animation-name:upBullet;
    animation-duration: 3s;
    animation-timing-function: linear;
}
.fuel {
    width: 55px;
    position: absolute;
    top: -60px;
    z-index: 5;
    animation: downBullet 4s linear;
}
.enemy-bullet {
    animation-name: downBullet;
    transform: rotate(180deg)
}
.spaceship {
    z-index: 6;
    position: absolute;
    width: var(--ship-width);
    top: 250px;
    cursor: none;
    left: 350px;
    transition: 0.2s linear;
}
.main {
    top: calc(100vh - var(--ship-width) - 50px);
    left: calc(50vw - (var(--ship-width) / 2));
}
.enemy {
    top: -100px;
    transform: rotate(180deg);
    animation-timing-function: linear;
    animation-name: downBullet;
}
.size-5 {
    z-index: 5;
    animation-duration: 12s;
    width: 210px;
}
.size-4 {
    z-index: 4;
    animation-duration: 22s;
    width: 150px;
}
.size-3 {
    z-index: 3;
    animation-duration: 36s;
    width: 100px;
}
.size-2 {
    z-index: 2;
    animation-duration: 56s;
    width: 58px;
}
.size-1 {
    animation-duration: 128s;
    width: 18px;
}
.explosion {
    z-index: 15;
    position: absolute;
    width: 80px;
}
.fuel-counter {
    display: flex;
    align-items: center;
}
.icon {
    margin-right: 5px;
    font-size: 20px;
}
.counter {
    width: 60px;
    display: inline-block;
    height: 13px;
    border: 1px solid red;
    position: relative;
}
.counter div {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    background: green;
}
.scores {
    display: none;
    box-sizing: border-box;
    width: 125px;
    padding: 12px;
    position: absolute;
    z-index: 100;
    top: 0;
    opacity: .7;
    right: 0;
    border-bottom-left-radius: 4px;
    background: #fff;
}
.more {
    color: #32fa12;
    font-weight: 600;
    content: '+6';
    position: absolute;
    width: 20px;
    height: 20px;
    animation: disapear 1.3s linear;
    display: inline-block;
    z-index: 100;
}
#points:after {
    content: ' pts.'
}
#seconds:after {
    content: ' m.'
}
.control-view {
    width: 100%;
    position: fixed;
    height: 100%;
    z-index: 100;
}
.game-over {
    transform: scale(0);
    transition: .3s;
    margin: 0 auto;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    max-width: 400px;
    padding: 15px;
}
.principal {
    margin: 0 auto;        
    transition: .3s;
    width: 100%;
    padding: 35px;
    color: #fff;
    display: flex;
    justify-content: space-between;
}
.instructions {
    display: none;
    position: fixed;
    margin: 0 auto;
    width: 90%;
    z-index: 200;
    max-width: 700px;
    background: #fff;
    border-radius: 3px;
    overflow: hidden;
}
.instructions .title {
    width: 100%;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #fff;
    background: var(--color-primary);
    padding: 20px;
}
.instructions .text {
    padding: 20px;
    overflow-y: scroll;
    height: 60vh;
    text-align: justify;
}
.instructions .text h3 {
    padding: 10px 0;
}
.instructions .actions {
    box-shadow: 0 -1px 4px #0000008a;;
    padding: 10px;
}
.instructions p{
    padding: 0 10px;
}
.btn, .game-over input {
    outline: none;
    padding: 9px;
    border: 2px solid var(--color-primary);
    margin-bottom: 15px;
    background: transparent;
    border-radius: 3px;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
}
.btn {
    background: var(--color-primary);
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
    cursor: pointer;
}
.mobile {
    display: none;
}
.red {
    border: 0;
    margin: 0;
    background: #f00;
}
.game-over form {
    width: 100%
}
.modal-wrap {
    width: 100%;
    height: 100%;
    background: #000;
    z-index: 110;
    opacity: 0.8;
    position: fixed;
    display: none;
}
.game-over input {
    width: 100%;
}
h2 {
    z-index: 40;
    text-transform: uppercase;
    color: #fff;
    font-size: 65px;
}
@media screen and (max-width: 700px) {
    .scores {
        top: 0;
        width: 100%;
        border-radius: 0;
        display: flex;
        justify-content: space-between;
        padding: 0 15px;
    }
}
@keyframes movePlanet{
    from {
        transform: translatex(0);
    } to {
        transform: translateX(-140vw);
    }
}
@keyframes upBullet {
    to {
        top: -10vh;
    }
}
@keyframes downBullet {
    to {
        top: 110vh;
    }
}
@keyframes disapear {
    from {
        opacity: 1;
        transform: translateY(0)
    }
    to {
        transform: translateY(-70px);
        opacity: 0;
    }
}
@keyframes showModal {
    from {
        opacity: 0;
        transform: translateY(80px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes unshowModal {
    0% {
        opacity: 1;
        transform: translateY(0);
    }
    99% {
        opacity: 0;
        transform: translateY(80px);
    }
}
@keyframes showWrap{
    to {opacity: .8}
}
@keyframes unshowWrap{
    to {opacity: 0}
}